.about {
  padding: 119px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
}

.about__title {
  margin: 0;
  max-width: 251px;
  position: absolute;
  z-index: 2;
  left: 80px;
  top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__paragraph {
  margin: 0 0 20px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__content {
  max-width: 660px;
}

.about__cirle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__cirle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
